<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.business.mapper.BidRequestAuditHistoryMapper">
    <resultMap id="BaseResultMap" type="BidRequestAuditHistory">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="auditTime" property="auditTime" jdbcType="TIMESTAMP"/>
        <result column="applyTime" property="applyTime" jdbcType="TIMESTAMP"/>
        <result column="bidRequestId" property="bidRequestId" jdbcType="BIGINT"/>
        <result column="auditType" property="auditType" jdbcType="TINYINT"/>

        <association property="auditor" javaType="com.xmg.p2p.base.domain.Logininfo" columnPrefix="au_">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
        </association>
        <association property="applier" javaType="com.xmg.p2p.base.domain.Logininfo" columnPrefix="ap_">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
        </association>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        insert into `bidrequestaudithistory` (state, remark, auditTime,applyTime, auditor_id, applier_id,bidRequestId, auditType)
        values (#{state,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP},
        #{applyTime,jdbcType=TIMESTAMP}, #{auditor.id,jdbcType=BIGINT}, #{applier.id,jdbcType=BIGINT},
        #{bidRequestId,jdbcType=BIGINT}, #{auditType,jdbcType=TINYINT})
    </insert>

    <sql id="base_column">
        h.id, h.state, h.remark, h.auditTime, h.applyTime, h.bidRequestId,
        h.auditType,ap.id as ap_id,ap.username as ap_username,au.id as au_id,au.username as au_username
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select <include refid="base_column" />
        from `bidrequestaudithistory` h JOIN logininfo ap on h.applier_id = ap.id JOIN logininfo au on h.auditor_id=au.id
        where h.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="listByBidRequest" resultMap="BaseResultMap">
        select <include refid="base_column" />
        from bidrequestaudithistory h JOIN logininfo ap on h.applier_id = ap.id JOIN logininfo au on h.auditor_id=au.id
        where h.bidRequestId = #{bidRequestId}
    </select>

</mapper>