<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.business.mapper.PaymentScheduleDetailMapper">
    <resultMap id="BaseResultMap" type="PaymentScheduleDetail">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="bidAmount" property="bidAmount" jdbcType="DECIMAL"/>
        <result column="bidId" property="bidId" jdbcType="BIGINT"/>
        <result column="totalAmount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="principal" property="principal" jdbcType="DECIMAL"/>
        <result column="interest" property="interest" jdbcType="DECIMAL"/>
        <result column="monthIndex" property="monthIndex" jdbcType="TINYINT"/>
        <result column="deadLine" property="deadLine" jdbcType="TIMESTAMP"/>
        <result column="bidRequest_id" property="bidRequestId" jdbcType="BIGINT"/>
        <result column="payDate" property="payDate" jdbcType="TIMESTAMP"/>
        <result column="returnType" property="returnType" jdbcType="TINYINT"/>
        <result column="paymentSchedule_id" property="paymentScheduleId" jdbcType="BIGINT"/>
        <result column="toLogininfo_id" property="toLogininfoId" jdbcType="BIGINT"/>
        <result column="bidRequestTitle" property="bidRequestTitle"/>

        <association property="fromLogininfo" javaType="Logininfo" columnPrefix="f_">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
        </association>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into `paymentscheduledetail` (bidAmount, bidId, totalAmount, 
      principal, interest, monthIndex, 
      deadLine, bidRequest_id, payDate, 
      returnType, paymentSchedule_id, fromLogininfo_id, 
      toLogininfo_id,bidRequestTitle)
    values (#{bidAmount,jdbcType=DECIMAL}, #{bidId,jdbcType=BIGINT}, #{totalAmount,jdbcType=DECIMAL}, 
      #{principal,jdbcType=DECIMAL}, #{interest,jdbcType=DECIMAL}, #{monthIndex,jdbcType=TINYINT}, 
      #{deadLine,jdbcType=TIMESTAMP}, #{bidRequestId,jdbcType=BIGINT}, #{payDate,jdbcType=TIMESTAMP},
      #{returnType,jdbcType=TINYINT}, #{paymentScheduleId,jdbcType=BIGINT}, #{fromLogininfo.id,jdbcType=BIGINT},
      #{toLogininfoId,jdbcType=BIGINT},#{bidRequestTitle})
  </insert>
    <update id="updateByPrimaryKey">
    update `paymentscheduledetail`
    set bidAmount = #{bidAmount,jdbcType=DECIMAL},
      bidId = #{bidId,jdbcType=BIGINT},
      totalAmount = #{totalAmount,jdbcType=DECIMAL},
      principal = #{principal,jdbcType=DECIMAL},
      interest = #{interest,jdbcType=DECIMAL},
      monthIndex = #{monthIndex,jdbcType=TINYINT},
      deadLine = #{deadLine,jdbcType=TIMESTAMP},
      bidRequest_id = #{bidRequestId,jdbcType=BIGINT},
      payDate = #{payDate,jdbcType=TIMESTAMP},
      returnType = #{returnType,jdbcType=TINYINT},
      paymentSchedule_id = #{paymentScheduleId,jdbcType=BIGINT},
      fromLogininfo_id = #{fromLogininfo.id,jdbcType=BIGINT},
      toLogininfo_id = #{toLogininfoId,jdbcType=BIGINT},
      bidRequestTitle = #{bidRequestTitle}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectByBorrow" resultMap="BaseResultMap">
        SELECT
            p.id,
            p.bidAmount,
            p.bidId,
            p.totalAmount,
            p.principal,
            p.interest,
            p.monthIndex,
            p.deadLine,
            p.bidRequest_id,
            p.payDate,
            p.returnType,
            p.paymentSchedule_id,
            p.toLogininfo_id,
            p.bidRequestTitle,
            f.id       AS f_id,
            f.username AS f_username
        FROM `paymentscheduledetail` p JOIN logininfo f ON p.fromLogininfo_id=f.id
        WHERE p.paymentSchedule_id=#{id}
    </select>

</mapper>