<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.base.mapper.MailVerifyMapper" >
  <resultMap id="BaseResultMap" type="com.xmg.p2p.base.domain.MailVerify" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userinfo_id" property="userinfoId" jdbcType="BIGINT" />
    <result column="sendTime" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into `mailverify` (userinfo_id, sendTime, uuid, 
      email)
    values (#{userinfoId,jdbcType=BIGINT}, #{sendTime,jdbcType=TIMESTAMP}, #{uuid,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR})
  </insert>


  <select id="selectByKey" resultMap="BaseResultMap">
    select id, userinfo_id, sendTime, uuid, email
    from `mailverify`
    where uuid = #{uuid,jdbcType=BIGINT}
  </select>

</mapper>