<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.base.mapper.RealAuthMapper">
    <resultMap id="BaseResultMap" type="com.xmg.p2p.base.domain.RealAuth">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="realName" property="realName" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="TINYINT"/>
        <result column="bornDate" property="bornDate" jdbcType="VARCHAR"/>
        <result column="idNumber" property="idNumber" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
        <result column="image1" property="image1" jdbcType="VARCHAR"/>
        <result column="image2" property="image2" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="auditTime" property="auditTime" jdbcType="TIMESTAMP"/>
        <result column="applyTime" property="applyTime" jdbcType="TIMESTAMP"/>
        <association property="auditor" javaType="Logininfo" columnPrefix="au_">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
        </association>
        <association property="applier" javaType="Logininfo" columnPrefix="ap_">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
        </association>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into `realauth` (realName, sex, bornDate, 
      idNumber, address, state, 
      image1, image2, remark, 
      auditTime, applyTime, auditor_id, 
      applier_id)
    values (#{realName,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{bornDate,jdbcType=VARCHAR}, 
      #{idNumber,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, 
      #{image1,jdbcType=VARCHAR}, #{image2,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{auditTime,jdbcType=TIMESTAMP}, #{applyTime,jdbcType=TIMESTAMP}, #{auditor.id,jdbcType=BIGINT},
      #{applier.id,jdbcType=BIGINT})
  </insert>

    <update id="updateByPrimaryKey">
    update `realauth`
    set realName = #{realName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      bornDate = #{bornDate,jdbcType=VARCHAR},
      idNumber = #{idNumber,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      image1 = #{image1,jdbcType=VARCHAR},
      image2 = #{image2,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      auditTime = #{auditTime,jdbcType=TIMESTAMP},
      applyTime = #{applyTime,jdbcType=TIMESTAMP},
      auditor_id = #{auditor.id,jdbcType=BIGINT},
      applier_id = #{applier.id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <sql id="base_select">
          r.id, r.realName,r.sex,r.bornDate,r.idNumber,r.address,r.state, r.image1,r.image2,r.remark,r.auditTime,r.applyTime
          ,ap.username AS ap_username, au.username AS au_username,ap.id AS ap_id, au.id AS au_id
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="base_select"/>
        FROM realauth r
        JOIN logininfo ap ON r.applier_id = ap.id
        LEFT JOIN logininfo au ON r.auditor_id = au.id
        WHERE r.id = #{id,jdbcType=BIGINT}
    </select>

    <sql id="base_where">
        <where>
            <if test="state > -1">
                AND r.state=#{state}
            </if>
            <if test="beginDate">
                AND r.applyTime &gt;=#{beginDate}
            </if>
            <if test="endDate">
                AND r.applyTime &lt;=#{endDate}
            </if>
        </where>
    </sql>

    <select id="queryForCount" resultType="int">
        SELECT COUNT(r.id)
        FROM realauth r
        <include refid="base_where"/>
    </select>

    <select id="query" resultMap="BaseResultMap">
        SELECT
        <include refid="base_select"/>
        FROM realauth r JOIN logininfo ap ON r.applier_id=ap.id LEFT JOIN logininfo au ON r.auditor_id=au.id
        <include refid="base_where"/>
        LIMIT #{beginIndex},#{pageSize}
    </select>
</mapper>