<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.base.mapper.UserFileMapper">
    <resultMap id="BaseResultMap" type="com.xmg.p2p.base.domain.UserFile">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="auditTime" property="auditTime" jdbcType="TIMESTAMP"/>
        <result column="applyTime" property="applyTime" jdbcType="TIMESTAMP"/>
        <result column="score" property="score" jdbcType="TINYINT"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>

        <association property="applier" javaType="com.xmg.p2p.base.domain.Logininfo" columnPrefix="ap_">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
        </association>
        <association property="auditor" javaType="com.xmg.p2p.base.domain.Logininfo" columnPrefix="au_">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
        </association>
        <association property="fileType" javaType="com.xmg.p2p.base.domain.SystemDictionaryItem" columnPrefix="si_">
            <id column="id" property="id"/>
            <result column="title" property="title"/>
        </association>

    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into `userfile` (state, remark, auditTime, applyTime, auditor_id, applier_id,score, image, filetype_id)
    values (#{state,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP},#{applyTime,jdbcType=TIMESTAMP}, #{auditor.id,jdbcType=BIGINT}, #{applier.id,jdbcType=BIGINT},#{score,jdbcType=TINYINT}, #{image,jdbcType=VARCHAR}, #{fileType.id,jdbcType=BIGINT}
      )
  </insert>

    <update id="updateByPrimaryKey">
    update `userfile`
    set state = #{state,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      auditTime = #{auditTime,jdbcType=TIMESTAMP},
      applyTime = #{applyTime,jdbcType=TIMESTAMP},
      auditor_id = #{auditor.id,jdbcType=BIGINT},
      applier_id = #{applier.id,jdbcType=BIGINT},
      score = #{score,jdbcType=TINYINT},
      image = #{image,jdbcType=VARCHAR},
      filetype_id = #{fileType.id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <sql id="base_column">
        u.id,u.state,u.remark,u.auditTime,u.applyTime,u.score,u.image
        ,au.id as au_id,au.username as au_username
        ,ap.id as ap_id,ap.username as ap_username
        ,si.id as si_id,si.title as si_title
    </sql>

    <sql id="base_where">
            <where>
                <if test="state > -1">
                    AND u.state=#{state}
                </if>
                <if test="beginDate">
                    AND u.applyTime &gt;=#{beginDate}
                </if>
                <if test="endDate">
                    AND u.applyTime &lt;=#{endDate}
                </if>
                AND u.filetype_id IS NOT  NULL
            </where>
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="base_column"/>
        FROM userfile u JOIN logininfo ap on u.applier_id=ap.id
        LEFT JOIN logininfo au on u.auditor_id=au.id
        LEFT JOIN systemdictionaryitem si on u.filetype_id=si.id
        WHERE u.id = #{id,jdbcType=BIGINT}
    </select>


    <select id="queryForCount" resultType="int">
        SELECT COUNT(u.id)
        FROM userfile u
        <include refid="base_where"/>
    </select>

    <select id="query" resultMap="BaseResultMap">
        SELECT
        <include refid="base_column"/>
        FROM userfile u JOIN logininfo ap on u.applier_id=ap.id
        LEFT JOIN logininfo au on u.auditor_id=au.id
        LEFT JOIN systemdictionaryitem si on u.filetype_id=si.id
        <include refid="base_where"/>
        <if test="pageSize>0">
            LIMIT #{beginIndex},#{pageSize}
        </if>
    </select>

    <select id="getSelectList" resultMap="BaseResultMap">
        SELECT
        <include refid="base_column"/>
        FROM userfile u JOIN logininfo ap on u.applier_id=ap.id
        LEFT JOIN logininfo au on u.auditor_id=au.id
        LEFT JOIN systemdictionaryitem si on u.filetype_id=si.id
        WHERE ap.id=#{id}
        AND
        <if test="select">
            u.filetype_id IS NOT NULL
        </if>
        <if test="!select">
            u.filetype_id IS NULL
        </if>
    </select>
</mapper>